In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('/content/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [35]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [36]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [37]:
x=df.iloc[:,0:5]
x.head()

   Age Sex      BP Cholesterol  Na_to_K
0   23   F    HIGH        HIGH   25.355
1   47   M     LOW        HIGH   13.093
2   47   M     LOW        HIGH   10.114
3   28   F  NORMAL        HIGH    7.798
4   61   F     LOW        HIGH   18.043

In [38]:
y=pd.get_dummies(df.iloc[:,5:]).values
y

array([[1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1]], dtype=uint8)

In [39]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=12)

In [40]:
x.shape, y.shape

((200, 5), (200, 5))

In [41]:
xtrain.shape,xtest.shape

((160, 5), (40, 5))

In [42]:
df['BP'].unique()

array(['HIGH', 'LOW', 'NORMAL'], dtype=object)

In [43]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [44]:
xtrain['Sex'] = le.fit_transform(xtrain['Sex'])
xtrain['Sex']
xtest['Sex'] = le.transform(xtest['Sex'])
xtest['Sex']
xtrain['BP'] = le.fit_transform(xtrain['BP'])
xtrain['BP']
xtest['BP'] = le.transform(xtest['BP'])
xtest['BP']
xtrain['Cholesterol'] = le.fit_transform(xtrain['Cholesterol'])
xtrain['Cholesterol']
xtest['Cholesterol'] = le.transform(xtest['Cholesterol'])
xtest['Cholesterol']

23     0
182    1
172    1
21     0
63     1
11     1
61     1
32     1
164    1
7      0
95     1
173    1
132    1
120    0
98     1
138    1
31     0
16     1
181    0
85     0
185    1
166    0
101    0
129    0
113    1
51     1
167    0
88     1
108    1
136    0
29     0
183    1
152    1
93     1
189    1
139    0
179    0
55     0
1      0
5      0
Name: Cholesterol, dtype: int64

In [48]:
xtrain

     Age  Sex  BP  Cholesterol  Na_to_K
77    26    0   0            1   19.161
47    68    1   1            0   10.291
94    56    1   1            0   15.015
14    50    0   2            0   12.703
41    58    0   0            1   14.239
..   ...  ...  ..          ...      ...
3     28    0   2            0    7.798
130   70    0   2            0   20.489
134   42    0   0            0   21.036
155   49    1   1            0   10.537
75    26    1   1            1   20.909

[160 rows x 5 columns]

In [55]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(5,input_dim=5,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(5,activation='softmax'))

In [56]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [57]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 5)                 30

 dense_11 (Dense)            (None, 64)                384

 dense_12 (Dense)            (None, 32)                2080

 dense_13 (Dense)            (None, 32)                1056

 dense_14 (Dense)            (None, 5)                 165

=================================================================
Total params: 3,715
Trainable params: 3,715
Non-trainable params: 0
_________________________________________________________________

In [65]:
model.fit(xtrain,ytrain,epochs=19,batch_size=5,validation_data=(xtest,ytest))

Epoch 1/19
32/32 [==============================] - 0s 6ms/step - loss: 0.4335 - accuracy: 0.8562 - val_loss: 0.5724 - val_accuracy: 0.7250
Epoch 2/19
32/32 [==============================] - 0s 4ms/step - loss: 0.4814 - accuracy: 0.8250 - val_loss: 0.6796 - val_accuracy: 0.7500
Epoch 3/19
32/32 [==============================] - 0s 4ms/step - loss: 0.5438 - accuracy: 0.8250 - val_loss: 0.9422 - val_accuracy: 0.6250
Epoch 4/19
32/32 [==============================] - 0s 6ms/step - loss: 0.4735 - accuracy: 0.8188 - val_loss: 0.6369 - val_accuracy: 0.7500
Epoch 5/19
32/32 [==============================] - 0s 5ms/step - loss: 0.4017 - accuracy: 0.8313 - val_loss: 0.5314 - val_accuracy: 0.8250
Epoch 6/19
32/32 [==============================] - 0s 5ms/step - loss: 0.3955 - accuracy: 0.8375 - val_loss: 0.7085 - val_accuracy: 0.7750
Epoch 7/19
32/32 [==============================] - 0s 4ms/step - loss: 0.4112 - accuracy: 0.8375 - val_loss: 0.5232 - val_accuracy: 0.8000
Epoch 8/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3590 - accuracy: 0.8687 - val_loss: 0.4908 - val_accuracy: 0.8250
Epoch 9/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3937 - accuracy: 0.8438 - val_loss: 0.5200 - val_accuracy: 0.8250
Epoch 10/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3977 - accuracy: 0.8313 - val_loss: 0.4180 - val_accuracy: 0.9000
Epoch 11/19
32/32 [==============================] - 0s 3ms/step - loss: 0.4101 - accuracy: 0.8438 - val_loss: 0.4460 - val_accuracy: 0.9000
Epoch 12/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3577 - accuracy: 0.8813 - val_loss: 0.5740 - val_accuracy: 0.8000
Epoch 13/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3912 - accuracy: 0.8500 - val_loss: 0.5653 - val_accuracy: 0.7500
Epoch 14/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3885 - accuracy: 0.8125 - val_loss: 0.4193 - val_accuracy: 0.8250
Epoch 15/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3245 - accuracy: 0.8562 - val_loss: 0.4010 - val_accuracy: 0.8750
Epoch 16/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3086 - accuracy: 0.8875 - val_loss: 0.4678 - val_accuracy: 0.8250
Epoch 17/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3221 - accuracy: 0.8500 - val_loss: 0.3648 - val_accuracy: 0.8750
Epoch 18/19
32/32 [==============================] - 0s 4ms/step - loss: 0.3609 - accuracy: 0.8562 - val_loss: 0.4131 - val_accuracy: 0.9000
Epoch 19/19
32/32 [==============================] - 0s 4ms/step - loss: 0.2819 - accuracy: 0.8875 - val_loss: 0.5592 - val_accuracy: 0.7750